@import '../../../global.css';
.s150 {
  font-size: 150px;
  line-height: 179px;
}
.s64 {
  font-size: 64px;
  line-height: 76px;
}
.s24 {
  font-size: 24px;
  line-height: 33px;
}
.s16 {
  font-size: 16px;
  line-height: 17px;
}
.s12 {
  font-size: 12px;
  line-height: 14px;
}
.black {
  color: var(--black);
}
.white {
  color: var(--white);
}
.gray99 {
  color: var(--gray99);
}
.red {
  color: var(--red);
}
.green {
  color: var(--green);
}
.darkRed {
  color: var(--dark-red);
}
