@import "../../global.css";
.main {
  padding: 100px 0 300px 0;
}
.infoBlockTitle {
  font-weight: 700;
  margin-bottom: 10px;
}
.infoBlockItem {
  position: relative;
  padding-left: 23px;
}
.infoBlockItem::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--dark-red);
}
.infoBlockItem:not(:last-child) {
  margin-bottom: 15px;
}
.contentContainer {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-areas: "info timer" "form timer" "todo -";
  gap: 16px;
}
.infoBlock {
  grid-area: info;
}
.form {
  grid-area: form;
}
.viewTimerContainer {
  grid-area: timer;
}
