@import '../../global.css';
.header {
  padding: 15px 0;
  box-shadow: 0px 10px 63px rgba(0, 0, 0, 0.07);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
  align-items: flex-start;
}
.link span {
  transition: color 0.15s ease-in-out;
}
.link div svg path {
  transition: fill 0.15s ease-in-out;
}
.link:hover span {
  color: var(--redB7);
}
.link:hover div svg path {
  fill: var(--redB7);
}
