.w15 {
  width: 15px;
}
.w16 {
  width: 16px;
}
.w50 {
  width: 50px;
}
.w108 {
  width: 108px;
}
.w205 {
  width: 205px;
}
.h15 {
  height: 15px;
}
.h16 {
  height: 16px;
}
.h40 {
  height: 40px;
}
.h50 {
  height: 50px;
}
.h108 {
  height: 108px;
}
.marginRight9 {
  margin-right: 9px;
}
