@import '../../../global.css';
.form {
  display: flex;
  flex-direction: column;
}
.input {
  max-width: 370px;
  border: none;
  background-color: var(--grayF4);
  padding: 19px 15px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
}
input::placeholder {
  color: var(--gray99);
  font-size: 16px;
  font-weight: 300;
}
.btn {
  padding: 19px 50px;
  max-width: 173px;
}
