@import "../../../global.css";
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  max-width: 733px;
  background-color: var(--grayF4);
}

.taskName {
  font-weight: 700;
}
.count {
  font-weight: 400;
}
.timerDisplay {
  width: 400px;
  font-weight: 200;
  margin-right: 25px;
  user-select: none;
}
.timerDisplayActive {
  color: var(--red) !important;
}
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 107px;
}
.timerContainer {
  display: flex;
  align-items: center;
  position: relative;
}

.startBtn {
  padding: 19px 50px;
  font-weight: 500;
  margin-right: 25px;
}
.startBtn:disabled {
  padding: 19px 50px;
  font-weight: 500;
  margin-right: 25px;
  background-color: var(--green) !important;
  cursor: auto !important;
}

.stopBtn {
  padding: 17px 48px;
  font-weight: 500;
}
.stopBtn:disabled > span {
  color: var(--grayC4) !important;
}
.stopBtn:disabled {
  border-color: var(--grayC4);
}
.addBtn {
  position: absolute;
  right: -59px;
  box-shadow: 0px 0px 10px 2px rgba(32, 31, 31, 0.56);
  border-radius: 50%;
}
.addBtn svg circle {
  transition: fill 0.15s ease-in-out;
}
.addBtn:hover svg circle {
  fill: var(--green89);
}
.addBtn:disabled svg circle {
  fill: var(--grayC4) !important;
}
.addBtn:disabled {
  cursor: auto;
}
.describeBlock {
  margin-bottom: 32px;
  min-height: 19px;
}

.timerBreakDisplayActive {
  color: var(--green) !important;
}
.settingsBtn {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  transition: transform 0.4s ease-in-out;
}
.settingsBtn:hover {
  transform: rotate(90deg);
}
.settingsBtn:disabled:hover {
  cursor: auto;
  transform: rotate(0deg);
}
