@import "../../../global.css";
.form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input {
  max-width: 370px;
  border: none;
  background-color: var(--grayF4);
  padding: 19px 15px;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 16px;
  line-height: 17px;
  outline: solid 0px var(--red);
  transition: outline 0.4s ease-in-out;
}
input::placeholder {
  color: var(--gray99);
  font-size: 16px;
  font-weight: 300;
}
.inputWrong {
  outline: solid 1px var(--red);
}
.btn {
  padding: 19px 50px;
  max-width: 173px;
}
.errorBlock {
  position: absolute;
  top: -25px;
  left: 10px;
  color: var(--red);
}
